body {
    background-color: rgb(170, 216, 231);
    font-family: "Poppins", sans-serif;
    color: rgb(6, 94, 124);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
button {
    color: rgb(6, 94, 124);
   
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
   
  }

/* Home Secetion */
.homeContainer {
    margin-top: -50px;
    animation: 1.5s fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.cake {
    font-size: 3em;
}

.close {
    font-size: 2.5em;
}

.menuIcon {
    border: none;
    background-color: transparent;
    position: fixed;
    top: 15px;
    right: 15px;
    animation: fadein 1s linear forwards;
}

.menuIcon:hover {
    border: none;
    box-shadow: none;
}

.nameLogo {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: .5em;
}

.name h1 {
    font-family: "Six Caps", sans-serif;
    font-size: 5em;
    letter-spacing: 3px;
    color:rgb(6, 94, 124)
}

.iconHome{
    font-size: 9em;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}


.homeDetails {
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.downArrow {
    margin-top: 25px;
    animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* NAVBAR */

.headerContainerFadeIn {
    width: 35%;
    height: 150%;
    background-color: rgb(98, 190, 221);
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10000;
    transition: opacity .5s;
    animation: fadein .2s linear forwards;
}


.headerContainerFadeOut {
    width: 35%;
    height: 150%;
    background-color: rgb(98, 190, 221);
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10000;
    transition: opacity .5s;
    animation: fadeout .2s linear forwards;
}


.navContainer {
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.nav_link {
    text-decoration: none;
    padding: 3px;
    color: rgb(5, 65, 85);
    font-size: 1.1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    padding: 5px;
}

.nav_link:hover {
    color: white;
    border-bottom: 3px solid white;
}



/*About */
.about {
    margin-top: 10em;
    margin-left: 50px;
    margin-right: 50px;
}

.hello {
    font-size: 3.5em;
    letter-spacing: 3px;
    text-align: center;
}

.aboutContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.selfContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.self {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 5px 10px 18px white;
}

.start {
    font-size: 0.75em;
}


.aboutParagraphs {
    width: 30%;
    padding: 25px;
    text-align: left;
    flex-grow: 2;
}

.aboutParagraphs p {
    padding-bottom: 25px;
    letter-spacing: 1px;
    color: black;
}

/* projects */
.projects {
    margin-top:2em;
    margin-bottom: 5em;
    padding-bottom: 1em;
}

.projectTitle{
    color:rgb(6, 94, 124)
}
.projectSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 3px;
    padding: 0 40px 0 40px;
}

/* ToolKit */
.scrollTool{
    margin-top: 2em;
}
.logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), lightblue);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), lightblue);
}

.logos:hover .skillsContainer {
    animation-play-state: paused;
}


.skillsContainer {
    display: inline-block;
    animation: 35s slide infinite linear;
    padding: 1em;
}
.listItem{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2px;
}
/* CONNECT */

.connect {
    margin-top: 2em;
    margin-bottom: 1em;
}

.connectContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer {
    background-color: rgb(129, 215, 244);
    margin-top: auto;
}

@media screen and (max-width: 600px) {
    /* .iconSkills li {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin: 75px 0 20px 0;
      flex-basis: 50%;
    }
  
      .homeDetails {
      margin-top: -10px;
    }
  
    .project {
      height: 350px;
      width: 350px;
      font-size: small;
      margin: 15px;
    }
  
    .iconLine {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: auto;
      margin: 50px 0 15px 0;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .aboutParagraphs {
      flex-flow: row wrap;
      flex-grow: 1;
      width: 75%;
    }
  
    .name {
      margin: 0 5px 0 5px;
      height: 450px;
    }
  
    .name h1 {
      font-size: 5em;
    }
  
    .bigletter {
      font-size: 25em;
    }
  
    .footerContainer {
      font-size: x-small;
    } */
  
  }
  
  @media screen and (max-width: 400px) {
  
  .headerContainerFadeIn{
    width: 100%;
  }
  
  .menuIcon{
    right: 60px
  }

  .iconHome{
    font-size: 7em;
    padding-top: 100px;
  }
  .name h1{
    font-size: 3em;
  }

  
  /* About */
  
  .hello h1{
    font-size: 2em;
  }

/* Skills */

.logos:after{
    background: none;
}
.logos:before{
    background: none;
}
  /* .project {
      height: 275px;
      width: 275px;
      font-size: x-small;
      margin: 15px;
      border-radius: 10%;
    }
  

  


    .projectImg {
      border-radius: 10%;
    }
  
    .nav_link {
      font-size: .75em;
    }
  
    .footerContainer {
      font-size: xx-small;
    } */
  }